@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css');

@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
     font-family: 'Roboto', sans-serif;
     color: #333333;
}

.img-responsive {
     margin: 0 auto;
     margin-top: 5%;
}

.social {
     height: 48px;
     width: 48px;
}